
.app-header {
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--box-shadow);
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Estilos para el botón de menú en móvil */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilos para el logo en móvil */
.header-logo .text-movil {
  display: none;
}

/* Media query para movil  */
@media screen and (max-width: 480px) {
  .header-logo .text-movil {
    display: inline;
  }
  .header-logo .text-desktop {
    display: none;
  }
  .auth-title {
    font-size: 1.8 em;
  }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .header-content {
       
        flex-wrap: wrap; 
    }
}